header {
	color:white;
	font-family: 'Eccentric Std';
	text-align:center;
	letter-spacing: 2px;
	}
.navbar {
	background-color: gray;
	font-family: 'Eccentric Std';
	letter-spacing: 2px;
	font-color:white;
	text-align:center;
}
h1 {
	padding: 40px 0px 0px 0px;
	font-size:70px;
}
th {
	padding:0px 20px 0px 20px;
}
h3 {
	font-family: 'Eccentric Std';
	letter-spacing:2px;
	text-align:center;
	font-size:30px;
}
body {
	background:url("background_image.jpg");
	font-family:'Bell Mt';
	margin: 40px;
	background-size:cover;
	opacity:0.8;
	color: white;
}

p {
	margin: 20px;
	font-size: 20px;
}
